* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background-image: url('./res/background1.png');
}

/* nice input checkbox look */

.control {
  font-family: inherit;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 0rem;
}
.control input {
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 40%;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}
.control input:checked ~ .control_indicator {
  background: #fd1214;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #ff0000;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #ff0000;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
  left: -20%;
  top: -10%;
}
.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

/* ------------------------------------------------------ */

.table-text-up {
  font-size: 1.5rem;
}

.table {
  max-width: 38rem;
  table-layout: fixed;
  position: absolute;
  text-align-last: center;
}

.table-wounds {
  left: 1%;
  top: 2%;
}

.table-burns {
  left: 1%;
  top: 40%;
}

@-moz-document url-prefix() {
  .table-burns {
    left: 1%;
    top: 41.5%;
  }
}

.table-breaks {
  top: 2%;
  left: 67%;
}

.table-diseases {
  left: 67%;
  top: 57.5%;
}

@-moz-document url-prefix() {
  .table-diseases {
    left: 67%;
    top: 60%;
  }
}

.table-lossof {
  top: 2%;
  left: 34%;
}
.table-summary {
  left: 34%;
  top: 10%;
}

/* button summary */
.button-shower {
  background-color: rgb(40, 41, 42);
  border-radius: 1rem;
  border: 0.3rem solid #1b1d1c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  width: 12rem;
  height: 4rem;
  top: 70%;
  left: 12%;
}

@-moz-document url-prefix() {
  .button-shower {
    top: 72%;
    left: 12%;
  }
}

.button-shower:hover {
  background-color: #5cbf2a;
}
/* to click outside of summary */
.blur *:not(.no-blur) {
  filter: blur(0.3rem);
  animation: fadeout 0.3s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.99;
  }
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.blur-overlay.visible {
  display: block;
  pointer-events: none;
}

.blocker {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 999;
}

.blocker.visible {
  pointer-events: all;
}
